
body {
    background-color: Aqua; /* Цвет фона */
    font-family: Arial, Sans-Serif; /* Тип шрифта */
    color: Blue; /* Цвет текста */
    font-size: 20px; /* Размер текста в пикселях */
}
      
